<%- layout('layouts/boilerplate') %>
    </form>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Edit Campground</h1>
        </div>
        <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %> ">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input class="form-control" type="number" id="price" name="campground[price]" aria-label="Price" aria-describedby="basic-addon1" value=<%= campground.price %>>
    
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %> ">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">description</label>
                <textarea class="form-control" id="description" name="campground[description]"><%= campground.description %></textarea>
            </div>
            <a href="/campgrounds/<%= campground._id %> " class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>