<%- layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class= "img-fluid" alt="image of a campground">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %> <span class="float-end">Price: $<%= campground.price %> </span></h5>
                    <p class="card-text"><%= campground.description %> </p>
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit Campground</a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
          </div>
    </div>
</div>


    
